@keyframes toast {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes loadingShow {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes loadingHide {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes popupShow {
  from {
    transform: scale(0.8); }
  to {
    transform: scale(1); } }

@keyframes popupHide {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.8); } }

@-webkit-keyframes loadingSpinner {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0; }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em; }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0; }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em; } }

@keyframes loadingSpinner {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0; }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em; }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0; }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em; } }

@keyframes loadingItem {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(-100%); } }

@keyframes selectedItem {
  0% {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.16); }
  50% {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }
  100% {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.16); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NanumSquareRound', sans-serif;
  font-display: optional;
  -webkit-tap-highlight-color: transparent; }

html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%; }

.en-pri {
  font-family: 'Roboto', sans-serif; }

.en-sec {
  font-family: 'Quicksand', sans-serif; }

.en-ter {
  font-family: 'Poppins', sans-serif; }

.ko-pri {
  font-family: 'NanumSquareRound', sans-serif; }

.wei-100 {
  font-weight: 100; }

.wei-200 {
  font-weight: 200; }

.wei-300 {
  font-weight: 300; }

.wei-400 {
  font-weight: 400; }

.wei-500 {
  font-weight: 500; }

.wei-600 {
  font-weight: 600; }

.wei-700 {
  font-weight: 700; }

.wei-800 {
  font-weight: 800; }

.wei-900 {
  font-weight: 900; }

.def-a {
  text-decoration: none;
  color: inherit; }

.pointer {
  cursor: pointer; }

.nodrag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000; }
  .popup-area {
    margin: 0 auto;
    max-width: 48rem;
    min-width: 28rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .popup-area-container {
      transform-origin: center;
      background-color: white;
      width: calc(100% - 7rem);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      border-radius: 1rem;
      border: 1px solid #707070;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4.6rem 3.2rem 2rem 3.2rem; }
      .popup-area-container__icon {
        width: 8rem;
        height: 8rem; }
      .popup-area-container__desc {
        padding-top: 2.5rem;
        padding-bottom: 3.6rem;
        font-size: 1.6rem;
        color: #333;
        text-align: center; }
      .popup-area-container__button {
        width: 100%;
        height: 5.2rem;
        font-size: 2rem;
        color: #999;
        border: none;
        border-radius: 1rem;
        background-color: transparent;
        cursor: pointer; }
        .popup-area-container__button-negative {
          background: linear-gradient(120deg, #d65151, #6b2929);
          color: #f4f4f4; }
        .popup-area-container__button-positive {
          background: linear-gradient(120deg, #51d651, #296b29);
          color: #f4f4f4; }
        .popup-area-container__button:not(:first-child) {
          margin-top: 1rem; }
  .popup--show {
    animation: loadingShow 0.2s forwards; }
    .popup--show__container {
      animation: popupShow 0.2s forwards; }
  .popup--hide {
    animation: loadingHide 0.2s forwards; }
    .popup--hide__container {
      animation: popupHide 0.2s forwards; }

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  font-size: 1.4rem; }
  .loading-loader {
    color: #ffffff;
    font-size: 8px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: loadingSpinner 1.3s infinite linear;
    animation: loadingSpinner 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .loading--show {
    animation: loadingShow 0.2s forwards; }
  .loading--hide {
    animation: loadingHide 0.2s forwards; }

.toast {
  position: fixed;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  pointer-events: none;
  z-index: 10000;
  padding-bottom: 5rem;
  opacity: 0; }
  .toast-text {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f4f4f4;
    font-size: 1.6rem;
    font-weight: 200;
    padding: 1rem 2rem;
    border-radius: 100px;
    width: max-content;
    max-width: calc(100% - 10rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .toast--animate {
    animation: toast 4s 1; }

.stage {
  margin: 0px auto;
  max-width: 45rem;
  min-width: 28rem;
  min-height: 100vh;
  overflow: hidden;
  text-overflow: ellipsis; }

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  justify-content: space-between; }
  .header-backward-icon {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; }
    .header-backward-icon__logo {
      background-image: url("../images/ico_logo.png"); }
    .header-backward-icon__back {
      background-image: url("../images/ico_goback.png"); }
  .header-text {
    flex: 1 1 auto;
    padding: 0 2rem;
    width: calc(100% - 9.6rem);
    overflow: hidden;
    text-align: left; }
    .header-text-menu {
      font-size: 2.8rem;
      overflow: hidden;
      text-overflow: ellipsis; }
    .header-text-sub {
      font-size: 1.2rem;
      overflow: hidden;
      text-overflow: ellipsis; }
  .header-settings-icon {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    border: 1px solid #e0e0e0;
    border-radius: 100px;
    background-image: url("../images/ico_profile.png");
    background-size: 100%; }

.main {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column; }
  .main-items {
    position: inherit;
    width: 100%;
    height: 32.5rem;
    margin: 2rem 0;
    flex: 1 1 auto;
    display: flex;
    align-items: center; }
    .main-items-info {
      position: inherit;
      width: 100%;
      text-align: center; }
      .main-items-info__text {
        padding-bottom: 1.3rem;
        font-size: 1.2rem;
        color: #bbb; }
      .main-items-info__status {
        margin: 0 auto;
        width: 21rem;
        height: 6rem;
        border: 1px solid #f4f4f4;
        background-color: white;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: #707070; }
    .main-items-loading {
      position: absolute;
      display: inline-block;
      width: 21rem;
      height: 30rem;
      background-color: #f4f4f4;
      border: #e0e0e0;
      border-radius: 1rem;
      transform: translate(-50%);
      left: 50%; }
      .main-items-loading::before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 21rem;
        height: 30rem;
        background-color: #f4f4f4;
        border: #e0e0e0;
        border-radius: 1rem;
        transform: translate(-50%);
        left: calc(-50% - 2rem);
        top: 2rem; }
      .main-items-loading::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 21rem;
        height: 30rem;
        background-color: #f4f4f4;
        border: #e0e0e0;
        border-radius: 1rem;
        transform: translate(-50%);
        left: calc(150% + 2rem);
        top: 2rem; }
      .main-items-loading-loader {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        overflow: hidden; }
        .main-items-loading-loader::before {
          content: '';
          display: inline-block;
          width: 100%;
          height: 100%;
          background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
          animation: loadingItem 1s infinite; }
    .main-items__item {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 21rem;
      height: 30rem;
      background-color: #f4f4f4;
      border: 1px solid #e0e0e0;
      border-radius: 1rem;
      transform: translate(-50%);
      cursor: pointer;
      left: 50%; }
      .main-items__item--before {
        left: calc(-50% - 2rem);
        top: 2rem; }
      .main-items__item--after {
        left: calc(150% + 2rem);
        top: 2rem; }
      .main-items__item-empty {
        background-color: white; }
      .main-items__item-addnew {
        background-color: #f4f4f4;
        border: 1px solid #f4f4f4; }
      .main-items__item-selected {
        animation: selectedItem 3s infinite; }
      .main-items__item-0 {
        background: linear-gradient(135deg, #9fdfff, #74a9c4); }
      .main-items__item-1 {
        background: linear-gradient(135deg, #9fffdf, #74c4a9); }
      .main-items__item-2 {
        background: linear-gradient(135deg, #ffff9f, #c4c474); }
      .main-items__item-3 {
        background: linear-gradient(135deg, #ffc59f, #c49474); }
      .main-items__item-4 {
        background: linear-gradient(135deg, #ff9f9f, #c47474); }
      .main-items__item-title {
        position: absolute;
        top: 0;
        font-size: 2rem;
        padding-top: 2.5rem;
        color: white; }
        .main-items__item-title-dark {
          color: #ccc; }

.container-entries {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.container-default {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 0; }

#plate-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40rem;
  overflow: hidden;
  flex: 1 1 auto;
  transition: flex 0.2s ease 0s; }

#plate-inputs {
  text-align: center;
  padding-bottom: 3.4rem;
  transition: all 0.2s ease; }
  #plate-inputs .child {
    position: relative; }
    #plate-inputs .child:not(:first-child) {
      margin-top: 1.5rem; }
  #plate-inputs .label-text {
    padding-left: 4.5rem;
    font-size: 1.2rem;
    text-align: left; }
  #plate-inputs .error-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: 2rem 0;
    color: red; }
    #plate-inputs .error-text::before {
      content: '';
      margin-right: 1rem;
      display: inline-block;
      width: 0.8rem;
      height: 0.8rem;
      background-color: red;
      border-radius: 2px;
      transform: rotate(45deg); }
  #plate-inputs .common {
    display: inline-block;
    padding: 0 3rem;
    width: calc(100% - 5rem);
    height: 6rem;
    font-size: 2rem;
    outline: none;
    border: 1px solid #e0e0e0;
    border-radius: 100px;
    transition: border-color 0.2s ease; }
    #plate-inputs .common::placeholder {
      color: #e0e0e0; }
    #plate-inputs .common:not(:first-child) {
      margin-top: 1.5rem; }
    #plate-inputs .common-child {
      width: 2rem;
      height: 2rem;
      background-color: red; }
    #plate-inputs .common:hover ~ .dynamic-placeholder,
    #plate-inputs .common:focus ~ .dynamic-placeholder,
    #plate-inputs .common:not(:placeholder-shown) ~ .dynamic-placeholder {
      color: #999;
      position: absolute;
      top: 1rem;
      left: 5.7rem;
      font-size: 1.2rem;
      transform: translateY(0%); }
    #plate-inputs .common:hover ~ .dynamic-placeholder-invalid,
    #plate-inputs .common:focus ~ .dynamic-placeholder-invalid,
    #plate-inputs .common:not(:placeholder-shown) ~ .dynamic-placeholder-invalid {
      color: #e07070;
      position: absolute;
      top: 1rem;
      left: 5.7rem;
      font-size: 1.2rem;
      transform: translateY(0%); }
  #plate-inputs .text {
    padding-top: 1rem; }
  #plate-inputs .dynamic-placeholder {
    position: absolute;
    top: 50%;
    left: 5.7rem;
    font-size: 2rem;
    font-weight: 200;
    color: #e0e0e0;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    pointer-events: none;
    width: calc(100% - 12rem);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    #plate-inputs .dynamic-placeholder-invalid {
      position: absolute;
      top: 50%;
      left: 5.7rem;
      font-size: 2rem;
      font-weight: 200;
      color: #e09d9d;
      transform: translateY(-50%);
      transition: all 0.2s ease;
      pointer-events: none;
      width: calc(100% - 12rem);
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  #plate-inputs .confirm {
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    color: #707070;
    transition: all 0.2s ease; }
    #plate-inputs .confirm:active {
      transform: translateY(2px);
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.16); }
